mixin review(review)
  .review__header
    .review__author
      img.avatar(src=review.author.gravatar)
      p= review.author.name
      form.userAverage(action=`/api/reviewer/${review.author._id}/avg` method="POST")
        input.button(type="submit" value="Get Average")
    .review__stars
      each category in ['Food', 'Service', 'Ambiance']
        .review__category
          p= `${category} ` + `★`.repeat(review.rating[category.toLowerCase()]) + `✩`.repeat(5 - review.rating[category.toLowerCase()])
    time.review__time(datetime=review.created)= h.moment(review.created).fromNow()
  .review__body
    p
      = review.text
      if (review.author._id.equals(user._id) || user.isAdmin)
        a(href=`/store/${review.store}/reviews/${review.id}/edit`)
          != h.icon('pencil')
